@import url('menu-style.css');

/* accordion */

  ul.accordion ul.panel {
    position: relative;
    top: initial;
  }

/* details */

  ul.vertical.accordion.summary {
    list-style-type: none;
  }

  ul.vertical.accordion.summary {
    padding: 0;
  }

  ul.vertical.accordion.summary ul.panel.details:not(.clear) {
    padding: 0.5rem 1rem;
  }


