/* details */

  nav.details, 
  nav.details label {
    margin-top: 0;
  }

  nav.details label {
    background: transparent;
    color: var(--main-text);
    text-weight: bold;
  }

  nav.details > ul > li > label::before {
    content: "> " 
  }

  nav.details > ul > li > label:hover {
    background: transparent;
    color: var(--main-text);
  }
