/* modal style */

  .modal > input[type="radio"] {
    display: none;
  }
  .modal > input[type="radio"][id$="close"]:checked ~ label[for$="close"],
  .modal > input[type="radio"][id$="close"]:not(:checked) ~ label:not([for$="close"]), 
  .modal > input[type="radio"][id$="close"]:checked ~ article {
    display: none;
  }
  .modal > input[type="radio"][id$="close"]:not(:checked) ~ article {
    display: block;
  }
  .modal > article {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    margin: 0;
    z-index: 7;
    background-color: var(--main-bg);
    padding: 1rem;
  }
