  main {
    margin: 0 auto;
    width: max-content; 
    display: flex;
    flex-direction: column;
    padding: 0.125rem;
    padding-bottom: 2.5rem;
  }
  iframe {
    margin: 0.25rem;
    padding: 0.25rem;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 1px 2px 5px silver;
  }
