/* styles for components */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: grey;
  }
  body, input, textarea {
    margin: 0;
    font-family: Arial;
    font-size: 0.851rem;
  }

  h1, h2 {
    font-weight: 300;
  }

  dd {
    margin-left: 1rem;
  }
  ul {
    padding-left: 1rem;
    list-style-position: outside;
  }

  span.fixedwidth {
    display: inline-block;
    width: 10ch;
    max-width: 10ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    background: rgba(150,150,150,0.2);
    height: 1.3rem;
    line-height: 1.3rem;
  }

  .sticky {
    position: sticky;
    top: 0;
    background: white;
  }
  .middle {
    vertical-align: middle;
  }

  .txleft {
    text-align: left;
  }
  .txright {
    text-align: right;
  }
  .txcent {
    text-align: center;
  }
  .report {
    border-color: transparent;
    color: grey;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
